$background: #1c1d21;

$white: #ffffff;

$accent: #2b66fc;
$accent-2: #2d66fa;
$accent-3: #2965ff;
$accent-4: #3e74ff;

$menu-active-item: rgba(255, 255, 255, 0.05);

$default-layout-border: rgba(255, 255, 255, 0.33);
$default-layout-background: rgba(196, 196, 196, 0.05);
$mailing-layout-background: rgba(196, 196, 196, 0.2);

$button-background: linear-gradient(137.15deg, #2965ff 0%, #2e66f5 99.89%);
$button-background-cancel: #df6565;

$border-black: #1e1f23;

$gray: #8e8f91;
$gray-1: #484848;
$dark-gray: #2f3034;

$mailing-tab-background: rgba(196, 196, 196, 0.04);

$offline: #a4a4a4;
