$background: #1C1D21;

$white: #FFFFFF;

$accent: #2B66FC;
$accent-2: #2D66FA;

$menu-active-item: rgba(255, 255, 255, 0.05);

$default-layout-border: rgba(255, 255, 255, 0.33);
$default-layout-background: rgba(196, 196, 196, 0.05);
