$fonts-path: '@/assets/fonts/mulish';

@font-face {
  font-family: 'Mulish';
  src: url(#{$fonts-path}/Mulish-Black.ttf);
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mulish';
  src: url(#{$fonts-path}/Mulish-ExtraBold.ttf);
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mulish';
  src: url(#{$fonts-path}/Mulish-Bold.ttf);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mulish';
  src: url(#{$fonts-path}/Mulish-SemiBold.ttf);
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mulish';
  src: url(#{$fonts-path}/Mulish-Medium.ttf);
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mulish';
  src: url(#{$fonts-path}/Mulish-Regular.ttf);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mulish';
  src: url(#{$fonts-path}/Mulish-Light.ttf);
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
